automium==0.2.6
automium-web==0.1.1
click==6.7
Django==1.11.6
django-haystack==2.6.1
Flask==0.12.2
itsdangerous==0.24
jieba==0.39
Jinja2==2.9.6
legacy==0.1.6
Markdown==2.6.9
markdown2==2.3.4
MarkupSafe==1.0
post==0.0.13
Pygments==2.2.0
pyt==0.7.26
pytz==2017.2
setupfiles==0.0.50
Werkzeug==0.12.2
Whoosh==2.7.4
